<?xml version="1.0"?>
<model>
  <name>H600 Hexacopter</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>PX4 Development Team</name>
  </author>
  <description>
    H600 Hexacopter with 6 motors in X configuration for Gazebo Harmonic.
  </description>
</model>
